---
---

//** colors in
//** https://lospec.com/palette-list/windows-95-256-colours

:root {
  --code-bg: #2a3f55;
  --code-font-color-normal: #d4dfff;
  --code-font-color-keyword: #aa5fff;
  --code-font-color-string: #55bfaa;
  --code-font-color-comment: #557faa;
}

.post_content {
  padding: 1.4em;
  code:not(.highlighter-rouge) {
    background: var(--code-bg);
    color:var(--code-font-color-normal);
    padding: 1em 0.8em;
    border-radius:2px;
    border-bottom:2px solid #2a0055;
    .hljs-doctag, .hljs-keyword, .hljs-formul {
      color: var(--code-font-color-keyword);
    }
    .hljs-string, .hljs-regexp, .hljs-addition, .hljs-attribute, .hljs-meta-string {
      color: var(--code-font-color-string);
    }
    .hljs-comment, .hljs-quote {
      color: var(--code-font-color-comment);
    }
  }
}
ul.topbar, .post_content {
  padding-left: 1.7em;
}