---
import { GlobalStyleWrapper } from '../components/GlobalStyleWrapper';

interface Props {
	title?: string;
    description?: string;
}

const { title = "Dotorimook's Blog", description = "Dotorimook's Tech Blog" } = Astro.props;
---

<!doctype html>
<html lang="ko">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
        <GlobalStyleWrapper client:load />
		<slot />
	</body>
</html>
